/*Toggle button*/
.toggle {
  width: 30px;
}

.email-setting {
  padding: 20px;
  margin: 10px;
}

.email-setting small {
  color: dimgray;
  font-size: 12px;
}

.email-setting span {
  padding: 5px;
}
