
*
{
  
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
 
}

.sidenav-setting{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 55px;
  left: 155px;
  background-color: white;
  overflow-x: hidden;
  margin:10px;
  padding-top:20px;
  
}
.sidenav-1{
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #143;
  overflow-x: hidden;
  padding-top: 20px;
  margin:10px;
}
.sidenav-1 a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav-setting a {
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 13px;
  color: darkblue;
  display: block;
  font-weight:700;
}

#setting{
  margin-left:152px;
 display:content;


}
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
 margin-top:10px;
  margin-left: 403px;
  padding:40px;
  /* Same as the width of the sidenav */
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color:white;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  
}

.col-75 {
  float: left;
  width: 35%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.row
{
  border-top:1px solid lightgray;
  padding:15px;
}
