
*
{
 font-family:'Brush Script MT',
  cursive;
 box-sizing:border-box;
}
.main-container {
  display: flex;
  background-color: white;
 flex-wrap:wrap;
 
}
.main-container > section {
  background-color: #f1f1f1;
  box-shadow:10px;
}
.upper-container{
 padding:5px;
}
#col-1 {
  background-color:orange;
 margin:10px 10px 10px 10px;
 width:20%;
}
#col-2 {

 margin:10px 10px 10px 0px;
   width:55%;
}
#col-3{
 background-color:green;
 width:20%;
 margin:10px 10px 10px 0px;
 
}
.menu {
  list-style-type: none;
 background-color:pink;
   margin:5px 4px;


}
.menu > li a {
  text-decoration: none;
 background-color:yellowgreen;
 margin-left:21%;
 padding:14px 20px;
 display:flex;
}
#offer {
  margin-top:200px;
  text-align: center;
 
}
.button-large {
  border-radius: 25px;
  padding: 5% 10%;
  background-color: yellow;
}

.lower-container {
  margin-top:10px;
 display:flex;
  background-color: white;
}




.button-large:hover {
  background-color:yellow;
  color: white;
}

.button {
  color:black;
  border-radius:8px;
  border:none;
  font-size:14px;
  font-weight:700;
  padding:5px 17px;
  border-color:black;
 background-color:yellow;
;
 
}
.button:hover {
background-color:#FFFACD;

}


.s{color:black;
  padding: 22px;
  font-size :2px;
  align-content: right;
  display: inline;
}
.grid-container {
  display: grid;
  gap: 1px;
  background-color: ghostwhite;
  padding:1px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  font-size: 15px;
  background-color:orange;

 
}


.item1
{ 
  padding:15px 0px;
 background-color:whitesmoke;

}
.item2
{ 
  margin-top:11px;
  padding:11px 3px;
 background-color:whitesmoke;
}

.tiktok
{   
  font-size: 15px;
 background-color:hotpink;
 display:inline-block;

}
.a{
  margin-right:2px;
  margin-bottom:0px;
margin-left:10px;

}
.c{
  font-size:10px;
 float:left;
position:relative;
bottom:16px;
 left:14%;
color:grey;
display: inline;
  
}
.abc{
  height:30px;
  width:35px;
  border-radius:100%;
  position:relative;
  float:left;
  left:20%;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
}

.icon {
 width:47px;
 float:left;
 margin-right:5px;
 background-color:blue;
  padding:14px;
 position:absolute;

}
  
  .large {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin: 5px;
   background-color:red;
  }
  #offer {
  margin-top:60px;
  text-align: center;
  color: rgb(103, 172, 172);
  }
.admin
{
font-size:13px;
margin-right:9px;;
 background-color:red;
 position:relative;
 display:inline;
}


#social-overview {
  padding: 3px;
 
}
.ago
{
   font-size:10px;
 float:left;
position:relative;
bottom:10px;
 left:2%;
color:grey;
display: inline;
  
}

.collab
{ 
 font-size:13px;
 color:grey;
 margin-right:28px;
 margin-left:3px;
}
.l
{
 background-color:black;
 
}
.weekly
{
 background-color:blue;
 font-size:21px;
}
.what
{
 background-color:red;
 width:50%;
 
 padding:2px;
}
.dollar
{
 color:white;
 padding: 2px;
}
.left
{
 margin-right:11px;
 background-color:green;
 width:50%;
 padding:1px;
}
.cross
{
 display:inline-block;
 background-color:orangered;
 position:relative;
 left:120px;
 
}
.activity
{
 
 position:relative;
 margin-right:100px;
 padding:10px 5px;
}
.col-4
{
 padding:9px 5px;
 display:inline-block;
 
}
